.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.apk

app/src/main/res/values/google_api.xml
app/src/main/res/values/google_maps_api.xml
app/src/main/res/values/analytics_strings.xml
app/src/main/res/xml/analytics_global_config.xml
app/src/main/res/raw/location.json
